.main {
  font-family: sans-serif;
  height: 100vh;
  border: 1px solid;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
/*   justify-content: space-around; */
  background: #f2f2f2;
}

.tooltip,
.tooltip1 {
  position: relative;
  display: inline-block;
}

.btn,
.btn1 {
  box-sizing: border-box;
  width: 150px;
  background: #007bff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.tooltip-text,
.tooltip-text1 {
  position: absolute;
  bottom: 120%;
  left: 30%;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 1.5s;
}

.tooltip-text1 {
  transform: rotate(-10deg);
  animation: bounce 1.8s;
  color: orange !important;
  padding: 10px 20px;
}

.top,
.bottom,
.right,
.left {
  opacity: 1 !important;
}

.bottom {
  bottom: -100% !important;
  right: 30%;
}

.left {
  bottom: 20% !important;
  left: -40%;
}

.right {
  bottom: 10% !important;
  left: 120%;
}

.tooltip:hover .tooltip-text,
.tooltip1:hover .tooltip-text1 {
  opacity: 1;
}
